$a-size-primary: 40px;
$a-size-secondary: 50px;
$a-size-tertiary: 60px;

$bg-color-primary: rgba(255, 255, 255, 0.75);
$bg-color-primary-variant: rgba(255, 255, 255, 0.8);
$bg-color-primary-variant-2: rgb(255, 255, 255);
$bg-color-primary-variant-3: rgba(255, 255, 255, 0.35);
$bg-color-secondary: rgba(230, 230, 230, 0.8);
$bg-color-secondary-variant: rgb(230, 230, 230);
$bg-color-tertiary: rgba(75, 38, 0, 0.655);
$bg-color-tertiary-variant: rgb(111, 92, 75);
$bg-color-tertiary-variant-2: rgba(75, 38, 0, 0.9);
$bg-color-quaternary: rgba(0, 0, 0, 0.25);

$bs-color-primary: rgba(66, 68, 90, 1);

$bd-radius-primary: 10px;
$bd-radius-secondary: 20px;
$bd-radius-tertiary: 25%;
$bd-radius-quaternary: 50%;

$color-primary: rgb(75, 38, 0);
$color-secondary: rgb(138, 0, 0);
$color-tertiary: rgba(255, 255, 255, 0.8);
